<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <h1 id="title">
                    Login
                </h1>
                <form>
                    <div class="input-group">
                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>
                        <p>Doesn't have an account? <a routerLink="register"> Sign up </a></p> 
                    </div>
                    <div class="btn-field">
                        <button type="button" id="signUpBtn">Login</button>
                        <!--button type="button" id="signInBtn"class="disable">Login</button-->
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>