<!DOCTYPE html>
<html>
    <head>
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>login</title>
    </head>
    <body>
        <div class="container">
            <div class="form-box">
                <h1 id="title">
                    Register
                </h1>
                <form>
                    <div class="input-group">
                        <div class="input-field" id="nameField">
                            <i class="fa-solid fa-user"></i>
                            <input type="text" placeholder="Name">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" placeholder="Email">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" placeholder="Password">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-key"></i>
                            <input type="password" placeholder="Password again">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-calendar"></i>
                            <input type="datetime" placeholder="Date of birth" max="2004-01-01" min="1921-01-09">
                        </div>

                        <div class="input-field">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                            <input type="phone" placeholder="Phone number">
                        </div>
                        
                        <p>Already have an account? <a routerLink=""> Login </a></p> 
                    </div>
                    <div class="btn-field">
                        <button type="button">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>